.boxLayout{
    width: 100vw;
    height: 100vh;
    background:url('/images/bg.jpg');
    background-size:contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxLayout__box{
 background:  fade-out(white, .2);
 width: 25rem;
 padding: $l-size $m-size;
 text-align: center;
 border-radius: 3px;
}

.boxLayout__title{
    margin: 0 0 $m-size 0;
    line-height: 1;
   }