*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    color: $dark-grey;
    line-height: 1.6;
    font-family: helvetica , arial , sans-serif;
    font-size: $m-size;
    background: white;
}
