
//colors
$off-black : #20222b;
$dark-blue : #333745;
$light-blue: #464b5e;
$dark-grey : #333;
$off-white : #f7f7f7f7;
$blue : #1c88bf;
$purpol : #8357c5;

//spacing

$s-size:1;
$m-size : 1.6rem;
$l-size :3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint: 42rem;

//font size 

$font-size-large : 1.8rem;
$font-size-small:1.4rem;